extends layout

block content
  section#userDetails.color3.white-text.container
    h2 Your Details
    div.row
      div.col.s6
        p.userContact Your Name: #{user.first_name} #{user.last_name}
      div.col.s6
        p.userContact Your Email: #{user.email}
  section#sessionBookings.white-text.color3.container
    div.row.valign-wrapper
      div.col.s6
        p.l-shed Your Schedule ......
      div.col.s6
        p.s-shed please select
    form(action="/register/mentoring", method="post")
      div.row
        div.col.s4
          input(type="radio" name="sessionOne" value="" id="one-breakout" checked)
          label(for="one-breakout") Breakout Space
        div.col.s4
          input(type="radio" name="sessionOne" value="one" id="one-one")
          label(for="one-one") Session One
        div.col.s4
          input(type="radio" name="sessionOne" value="two" id="one-two")
          label(for="one-two") Session Two
      div.row
        div.col.s4
          input(type="radio" name="sessionTwo" value="" id="two-breakout" checked)
          label(for="two-breakout") Breakout Space
        div.col.s4
          input(type="radio" name="sessionTwo" value="one" id="two-one")
          label(for="two-one") Session Three
        div.col.s4
          input(type="radio" name="sessionTwo" value="two" id="two-two")
          label(for="two-two") Session Four
      div.row
        div.col.s4
          input(type="radio" name="sessionThree" value="" id="three-breakout" checked)
          label(for="three-breakout") Breakout Space
        div.col.s4
          input(type="radio" name="sessionThree" value="one" id="three-one")
          label(for="three-one") Session Five
        div.col.s4
          input(type="radio" name="sessionThree" value="two" id="three-two")
          label(for="three-two") Session Six
      div.row
        div.col.s4
          input(type="radio" name="sessionFour" value="" id="four-breakout" checked)
          label(for="four-breakout") Breakout Space
        div.col.s4
          input(type="radio" name="sessionFour" value="one" id="four-one")
          label(for="four-one") Session Seven
        div.col.s4
          input(type="radio" name="sessionFour" value="two" id="four-two")
          label(for="four-two") Session Eight
      div.row
        div.col.s4
          input(type="radio" name="sessionFive" value="" id="five-breakout" checked)
          label(for="five-breakout") Breakout Space
        div.col.s4
          input(type="radio" name="sessionFive" value="one" id="five-one")
          label(for="five-one") Session Nine
        div.col.s4
          input(type="radio" name="sessionFive" value="two" id="five-two")
          label(for="five-two") Session Ten
      div.row
        div.col.s4
          input(type="radio" name="sessionSix" value="" id="six-breakout" checked)
          label(for="six-breakout") Breakout Space
        div.col.s4
          input(type="radio" name="sessionSix" value="one" id="six-one")
          label(for="six-one") Session Eleven
        div.col.s4
          input(type="radio" name="sessionSix" value="two" id="six-two")
          label(for="six-two") Session Twelve
      button.btn.black-text.btn-flat Book Me In
  section#mentorship.white-text.color3.container
    h2 Mentoring Program
    form(action="/register/mentoring", method="post")
      div.row
        -
          var contacts = {
            "conf": "Find me at the conference",
            "linkedin": "Connect with me via Linked In",
            "email": "I like reading emails"
          }
        div.col.s6
          p.mentStyle Preferred contact method:
        div.col.s6.input-field
          select.mentStyle(name="contact_info")
            if !user.contact_info
              option(value="") Please select
            each val, index in contacts
              if user.contact_info === index
                option(value=index selected)= val
            each val, index in contacts
              if user.contact_info !== index
                option(value=index)= val
      div.row
        -
          var opts = {
            "none": "General Advice",
            "Android": "Android",
            "Angular": "Angular",
            "Csharp": "C#",
            "iOS": "iOS",
            "Java": "Java",
            "JavaScript": "JavaScript",
            "LAMP": "LAMP Stack",
            "MEAN": "MEAN Stack",
            "NodeJS": "Node.js",
            "PHP": "PHP",
            "Python": "Python",
            "React": "React",
            "SQL": "SQL",
            "Swift": "Swift",
            "WordPress": "WordPress",
            "design": "Design",
            "analytics": "Data Analytics",
            "ux": "User Experience",
            "careers": "Career Development"
          }
        div.col.s6
          p.mentStyle I'd like to provide mentoring in:
        div.col.s6.input-field
          select.mentStyle(name="mentoring")
            each val, index in opts
                if user.mentoring === index
                  option(value=index selected)= val
            each val, index in opts
              if user.mentoring !== index
                option(value=index)= val
      div.row
        div.col.s6
          p.mentStyle I'd like to receive mentoring in:
        div.col.s6.input-field
          select.mentStyle(name="learning")
            each val, index in opts
                if user.learning === index
                  option(value=index selected)= val
            each val, index in opts
              if user.learning !== index
                option(value=index)= val
      button.btn.black-text.btn-flat Save My Preferences
    div.row
      div.col.s12
        h2 Suggested mentors
        each mentor in mentors
          div
            p= mentor.first_name + ' ' + mentor.last_name
            p= 'Mentoring: ' + mentor.learning
            p= mentor.contact_info
    div.row
      div.col.s12
        h2 Suggested mentees
        each mentee in mentees
          div
            p= mentee.first_name + ' ' + mentee.last_name
            p= 'Learning: ' + mentee.learning
            p= mentee.contact_info

block js
  script(src="/scripts/dashboard.js")
